<!DOCTYPE html>
<html>
  <head>
    <title>LIGHTS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" sizes="192" href="lightbulb-white-192.png">
    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="icon shortcut" type="image/png" href="favicon.ico">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <main>
      <section class="color-picker-wrapper">
        <h1>LED Lights</h1>

        <div class="switch-wrapper row">
          <p id="light-status">Off</p>
          <label class="switch"> 
            <input type="checkbox" id="light" />
            <span class="slider round"></span>
          </label>
        </div>
        <div class="row">
          <p id="color-picked">Color </p>
          <input id="color-changer" type="color" />
        </div>

        <div class="switch-wrapper row">
          <p id="rainbow-status">Rainbow</p>
          <label class="switch"> 
            <input type="checkbox" id="rainbow" />
            <span class="slider round"></span>
          </label>
        </div>
         
        <div class="switch-wrapper row">
          <p id="sexy-time-status">Sexy Time</p>
          <label class="switch"> 
            <input type="checkbox" id="sexy-time" />
            <span class="slider round"></span>
          </label>
        </div>

        <div class="switch-wrapper row">
          <p id="yeooo-status">yeooo</p>
          <label class="switch"> 
            <input type="checkbox" id="yeooo" />
            <span class="slider round"></span>
          </label>
        </div>
         
      </section>

      <!-- <p>What's your favorite color?</p> -->
      <!-- <p class="output"></p>
      <div class="loader"></div> -->
      <!-- <img class="r-m" src="show_me_what_you_got__by_davey459_db2s5xe-pre.jpg" /> -->
      <!-- <img class="cat" src="" alt="cat" /> -->

      
      <!-- <div class="switch-wrapper">
        <p>audio</p>
        <label class="switch"> 
          <input type="checkbox" id="audio">
          <span class="slider round"></span>
        </label>
      </div> -->
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <!-- <script src="jscolor.js"></script> -->
    <script src="./main.js"></script>
    <script>

    </script>
  </body>
</html>